.portifolio-home {
  color: $text-dark;
}
.portifolio-home-social {
  margin: 20px;
  list-style: none;
  padding: 0;
  li {
    display: inline-block;
    padding: 0 10px;
  }
}
.show-henryqrm {
  margin-bottom: 0;
  color: $text-dark;
}
.portifolio-home-line {
  height: 200px;
  border-bottom: 3px solid $main-dark;
}
.portifolio-home-box {
  text-align: center;
  p {
    padding: 10px;
  }
}
.portifolio-home-logo {
  @extend .img-circle;
  background-size: cover;
  width: 350px;
  height: 350px;
  background-color: $main-dark;
  margin-top: -175px;
  border: 10px solid #000;
  @include media(xs){
      width: 200px;
      height: 200px;
      margin-top: -100px;
      border: 7px solid #000;
  }
  @include media(sm){

  }
  @include media(lg){}
}
.portifolio-home-logo-svg {
  width: 350px;
  height: 350px;
  background-position: -95px -12px;
  background-repeat: no-repeat;
  background-size: 565px;
  @include media(xs){
      width: 200px;
      height: 200px;
      background-position: -52px -7px;
      background-size: 315px;
  }
}
