@mixin responsive($att, $value) {
  @include media(xs) {
    $att: size($value, xs);
  };
  @include media(sm) {
    $att: size($value, sm);
  };
  @include media(md) {
    $att: size($value, md);
  };
  @include media(lg) {
    $att: size($value, lg);
  };
  @include media(xl) {
    $att: size($value, xl);
  };
}
.test {
    @include responsive(width, 200px);
}
