// Colors
$background-dark: #212121;
$background-light: #727272;
$text-dark: #C5CAE9;
$text-light: #FFFFFF;
$main-dark: #3F51B5;
$main-light: #5C6BC0;
$icon-size: 36px;
// Medias screen
$media-xsmall: 599px;
$media-small: 959px;
$media-medium: 1279px;
$media-large: 1919px;
// Function responsive
$_xsPercent: 0.55;
$_smPercent: 0.80;
$_mdPercent: 1;
$_lgPercent: 1.10;
$_xlPercent: 1.25;
