// Colors
$background-dark: #212121;
$background-light: #727272;
$text-dark: #C5CAE9;
$text-light: #FFFFFF;
$main-dark: #3F51B5;
$main-light: #5C6BC0;


$icon-size: 36px;


// Medias screen
$media-xsmall: 599px;
$media-small: 959px;
$media-medium: 1279px;
$media-large: 1919px;
// Function responsive
@mixin media($_media) {
  @if $_media == xs {
    @media screen and (max-width: $media-xsmall) {
      @content;
    }
  }
  @else if $_media == sm {
    @media screen and (min-width: $media-xsmall + 1 ) and (max-width: $media-small) {
      @content;
    }
  }
  @else if $_media == md {
    @media screen and (min-width: $media-small + 1 ) and (max-width: $media-medium) {
      @content;
    }
  }
  @else if $_media == lg {
    @media screen and (min-width: $media-medium + 1 ) and (max-width: $media-large) {
      @content;
    }
  }
  @else if $_media == xl {
    @media screen and (min-width: $media-large + 1 ) {
      @content;
    }
  }
}
