$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import '../bower_components/bootstrap-social/bootstrap-social.scss';
$fa-font-path: "../bower_components/font-awesome/fonts";
@import '../bower_components/font-awesome/scss/font-awesome';
@import '_variables.scss';
@import '_functions.scss';
/**
 * App-wide Styles
 */
body {
  overflow: hidden;
}
.icon {
  background-size: cover;
  width: $icon-size;
  height: $icon-size;
}
.tag {
    margin-top: 8px;
    a{
        margin-right: 5px;
        font-size: 12px;
        padding: 4px 11px;    
    }
}
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
// Custom bootstrap
.label-primary{
    background-color: $main-light;
}
// Component styles are injected through grunt
// injector
@import '_functions.scss';
@import '_test.scss';
@import '_variables.scss';
@import 'admin/admin.scss';
@import 'main/main.scss';
@import 'portifolio/1-home/home.scss';
@import 'portifolio/2-profile/profile.scss';
@import 'portifolio/3-skills/skills.scss';
@import 'portifolio/4-contact/contact.scss';
@import 'portifolio/portifolio.scss';
@import '../components/footer/footer.scss';
@import '../components/modal/modal.scss';
@import '../components/oauth-buttons/oauth-buttons.scss';
// endinjector
