.portifolio-skills{
    padding: 25px;//responsive
}
.portifolio-skill{
    margin-bottom: 25px;
    h3{
        color: $text-light;
    }
}
.box-skill{
    padding: 5px;
    margin: auto 6px;
    width: 95px; //reponsive
    height: 130px; // reponsive
    background-color: $main-light;
    border-radius: 4%;
    img{
        max-height: 100px;
        margin: 0 auto;
    }
    p{
        text-align: center;
        font-weight: 700;
        color: $background-dark;
        padding-top: 10px;
    }
}
// $portifolio-skills-box-image: 230px;
// .portifolio-skills{
//     margin: 30px;
//     color: $text-dark !important;
//     p{
//         text-align: left;
//         margin: 30px;
//         font-size: 20px;
//     }
// }
// .portifolio-skills-header{
//
// }
// .portifolio-skills-body{
//
// }
// .portifolio-skills-box{
//     margin: 10px;
//     img{
//         width:$portifolio-skills-box-image;
//         height: $portifolio-skills-box-image;
//         border: 2px solid $text-light;
//     }
// }
// .portifolio-skills-box-description{
//     width: 90%;
// }
